<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <title>Customer Information</title>
</head>

<body>

<div layout:fragment="content">

    <h2>Customer Information</h2>

    <table>

        <tr>
            <th>Name</th>
            <td th:text="${customer.name}"></td>
        </tr>

        <tr>
            <th>Telephone</th>
            <td th:text="${customer.telefonNumber}"></td>
        </tr>

        <tr>
            <th>Email</th>
            <td th:text="${customer.email}"></td>
        </tr>

        <tr>
            <th>Created</th>
            <td th:text="${customer.createdDate}"></td>
        </tr>

    </table>

    <br>

    <a th:href="@{/customers}">
        Back
    </a>
</div>
</body>
</html>
